@model Rent.Models.Product

@{
    ViewBag.Title = "DetailProduct";
}

<h2>DetailProduct</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dd>
            @Html.ActionLink("Отправить запрос на аренду", "RequestToRent", "Rent", new { Id = Model.Id}, new { @class = "btn btn-block btn-success" })
        </dd>
    </dl>
</div>
